html, body {
	position: relative;
	width: 100%;
	height: 100%;
}

body {
	color: #333;
	margin: 0;
	padding: 0px;
	box-sizing: border-box;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

a {
	color: rgb(0,100,200);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a:visited {
	color: rgb(0,80,160);
}

label {
	display: block;
}

input, button, select, textarea {
	font-family: inherit;
	font-size: inherit;
	-webkit-padding: 0.4em 0;
	padding: 0.4em;
	margin: 0 0 0.5em 0;
	box-sizing: border-box;
	border: 1px solid #ccc;
	border-radius: 6px;
}

input:disabled {
	color: #ccc;
}

/* ADDED STYLES */

button {
	background-color:#f9f9f9;
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	color:#666666;
	padding:6px 24px;
	text-decoration:none;
}

button:hover {
	background-color:#e9e9e9;
}

button:disabled {
	color: #999;
}

button:not(:disabled):active {
	background-color: #ddd;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 100;
}


/* BANNER GRADIENT */
.gradient {
	background: linear-gradient(280deg, #b00, #074861, #085, #247, #a60);
	background-size: 800% 800%;
	animation: move 30s ease infinite;
}

@-webkit-keyframes move {
	0% {background-position: 0% 50%; }
	50% {background-position: 100% 50%;}
	100% {background-position: 0% 50%;}
}
@-moz-keyframes move {
	0% {background-position: 0% 50%;}
	50% {background-position: 100% 50%;}
	100% {background-position: 0% 50%;}
}
@keyframes move {
	0% {background-position: 0% 50%;}
	50% {background-position: 100% 50%;}
	100% {background-position: 0% 50%;}
}

